<div class="login-container">
  <div class="login-header">
    <div class="login-title">Registrarse</div>
  </div>
  <div class="logo-container">
    <%= image_tag("logo.png",:class => "logo_login" )%>
  </div>
  <div class="form-container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="input-field col s3">
        <i class="material-icons login-icons prefix">email</i>
        <%= f.label :email,"Correo" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="input-field col s3">
        <i class="material-icons login-icons prefix">account_circle
        </i>
        <%= f.label :username,"Nombre de Usuario" %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>
      <div class="input-field col s3">
        <i class="material-icons login-icons prefix">business</i>
        <%= f.label :department_id, "Departamento"%><br />
        <br />
        <br />
        <%= f.select :department_id, @departments.map{|d| [d.departmentName,d.id]}
    %>
        <br>
      </div>
      <div class="input-field col s3">
        <i class="material-icons login-icons prefix">supervisor_account</i>
        <%= f.label :position,"Puesto" %><br />
        <%= f.text_field :position, autofocus: true %>
      </div>
      <div class="input-field col s3">
        <i class="material-icons login-icons prefix">lock</i>
        <%= f.label :password ,"Contraseña"%>
        <%= f.password_field :password, autocomplete: "off" %>
        <br>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %><br />
      </div>
      <div class="input-field col s3">
        <i class="material-icons login-icons prefix">lock</i>
        <%= f.label :password_confirmation,"Confirmación de Contraseña"%><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="field">
        <%= f.check_box :isGeneralAdmin%>
        <%= f.label :isGeneralAdmin,"Administrador General"%><br />
      </div>
      <div class="field">
        <%= f.check_box :isDepartmentAdmin%>
        <%= f.label :isDepartmentAdmin,"Administrador de Departamento" %><br />
      </div>
      <div class="actions">
        <%= f.submit "Registrarse", class: "waves-effect waves-light btn" %>
        
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>