<% if current_user.isDepartmentAdmin || current_user.isGeneralAdmin %>
  <%= form_for(status) do |f| %>
    <% if status.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>
  
        <ul>
        <% status.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="input-field">
          <i class="material-icons login-icons prefix">description</i>
          <%= f.label :description, "Descripcion estado"%>
          <%= f.text_field :description, :required => true%>
        </div>
  
    <% if current_user.isGeneralAdmin %>
      <div class="field">
        <%= f.label :department_id, "Departamento" %>
        <%= f.collection_select :department_id, Department.all, :id, :departmentName %>
      </div>
    <% else %>
      <div class="field">
        <%= f.label :department_id, "Departamento"  %>
        <%= f.collection_select :department_id, Department.where(id: current_user.department_id), :id, :departmentName %>
      </div>
    <% end %>
    
  
    <div class="actions">
      <%= button_tag( :class => "waves-effect waves-light btn") do %>
        Crear Estado <i class="material-icons right">send</i>
      <% end %>
    </div>
  <% end %>
  <% else %>
 <div class="title-container">
	<h3>No tiene permisos para esto</h3>
</div>
<% end %>
