<p id="notice"><%= notice %></p>
<div class="title-container">
  <button class="botonCrear waves-effect waves-light btn"><%= link_to 'Nuevo', new_status_path %></button>
  <h3>Estados</h3>

</div>
<div class="row">
  <div class="col s12 m8 statusColumn">
    
      <% @statuses.each do |status| %>
      <div class="card statusDetail">
        <p class="p">
        <%= status.description %> <br>
        Departamento: <%= status.department.departmentName %>
        </p>
        <!--<%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %>-->
      </div>
      <% end %>
    
  </div>

</div>

<br>


