<% if current_user.isDepartmentAdmin || current_user.isGeneralAdmin %>
<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col s10 offset-s1">
        <div class="card-panel white">
          <div class="row">
            <div class="field col s6">
              <%= f.label "E-Mail" %>
              <%= f.text_field :email, :disabled=> true %>
            </div>
            <div class="field col s6">
              <%= f.label "Contraseña" %>
              <%= f.text_field :password, :disabled=> true %>
            </div>
          </div>
          <div class="row">
            <div class="field col s6">
              <%= f.label "Nombre de Usuario" %>
              <%= f.text_field :username, :disabled=> true %>
            </div>

            <div class="field col s6">
              <%= f.label "Departamento" %>
              <%= f.text_field :department_id, :disabled=> true %>
            </div>
          </div>
          <div class="row">
            <div class="field col s6">
              <%= f.label "Cargo" %>
              <%= f.text_field :position, :disabled=> true  %>
            </div>
            <div class="field col s6" style="display: hidden;">
              <%= f.check_box :isGeneralAdmin, id:"isGeneralAdmin" %>
              <%= f.label "Administrador General", for:"isGeneralAdmin", id:"isGeneralAdmin" %>
            </div><br>
            <div class="field col s6" style="display: hidden;">
              <%= f.check_box :isDepartmentAdmin, id:"isDepartmentAdmin" %>
              <%= f.label "Administrador de Departamento", for:"isDepartmentAdmin", id:"isDepartmentAdmin" %>
            </div>
          </div>
          <div class="row">
            <div class="col s6 offset-s3 center">
              <%= f.submit "Actualizar", class:"center waves-effect waves-light btn blue-grey lighten-2" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
<% else %>
 <div class="title-container">
	<h3>No tiene permisos para esto</h3>
</div>
<% end %>