<% if current_user.isDepartmentAdmin || current_user.isGeneralAdmin %>
<p id="notice"><%= notice %></p>

<h3 class="center">Administración de Usuarios</h3>

<div class="row">
  <div class="col s1"></div>
  <div class="col s10">
    <div class="card-panel white">
      <table class="striped highlight centered">
      <thead>
        <tr>
          <th>E-Mail</th>
          <th>Nombre de Usuario</th>
          <th>Cargo</th>
          <th>Departamento</th>
          <th>Adminstrador General</th>
          <th>Administrador de Departamento</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td><%= user.position %></td>
          <td><%= user.department.departmentName %>
            <td>
              <% if user.isGeneralAdmin? %>
              Si
              <% else %>
              No
              <% end %>
            </td>
            <td>
              <%if user.isDepartmentAdmin? %>
              Si
              <% else %>
              No
              <% end %>
            </td>
            <td><%= link_to 'Cambiar Roles', edit_user_path(user) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col s1"></div>
  </div>
<% end %>

<div class="row">
  <%= grid(@users_grid) do |g|

  g.column do |user|
    user.email
  end
  g.column do |user|
    user.username
  end
  g.column do |user|
    user.department.departmentName
  end
  g.column do |user|
    user.position
  end
  g.column do |user|
    user.isGeneralAdmin
  end
  g.column do |user|
    user.isDepartmentAdmin
  end

  g.column do |user|
    link_to('Cambiar Roles',  edit_user_path(user))
  end
end -%>
</div>
