<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department.departmentName %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user.position %>
</p>

<p>
  <strong>Isgeneraladmin:</strong>
  <% if @user.isGeneralAdmin %>
  
   Yes
  <% else %>
   No
  <% end %>
</p>

<p>
  <strong>Isdepartmentadmin:</strong>
  <% if @user.isDepartmentAdmin %>
  
   Yes
  <% else %>
   No
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
