 <div class="row">
 	<div class="col s12">
 		<h3 class="center">Bandeja de Entrada</h3>
 		<div class="card-panel white">
 			<ul class="collapsible" data-collapsible="accordion">
 				<% @currentConvID = 0 %>
 				<% @documents.each do |document| %>
 					<% if current_user.id == document.receiver_id %>
 						<% if @currentConvID != document.conversationId %>
 							<% @currentConvID = document.conversationId %>
 							<li>
 								<div class="collapsible-header"><%=document.subject%></div>
 								<div class="collapsible-body">
 									<ul class="collection">
 										<li class="collection-item avatar">
 											<i class="material-icons circle">folder</i>
 											<span class="title"><%=document.subject%></span><br>
 											<span>De: <%=User.find(document.sender_id).email %></span><br>
 											<span>Para: <%=User.find(document.receiver_id).email %></span><br><br>
 											<span><%=document.content%></span>
 											<%= link_to new_document_path({:conversationId => document.conversationId}), class:"secondary-content" do %>
 												<i class="material-icons">send</i>
 											<% end %>
 										</li>	
 										<% @documents.each do |document2| %>
 											<% if document2.id != document.id %>
 												<% if current_user.id == document2.sender_id || current_user.id == document2.receiver_id %>
 													<% if @currentConvID == document2.conversationId %>
 														<li class="collection-item avatar">
 															<i class="material-icons circle">folder</i>
 															<span class="title"><%=document.subject%></span><br>
 															<span>De: <%=User.find(document2.sender_id).email %></span><br>
 															<span>Para: <%=User.find(document2.receiver_id).email %></span><br><br>
 															<span><%=document2.content%></span>
 															<%= link_to new_document_path({:conversationId => document.conversationId}), class:"secondary-content" do %>
 																<i class="material-icons">send</i>
 															<% end %>
 														</li>
 													<% end %>
 												<% end %>
 											<% end %>
 										<% end %>
 									</ul>
 								</div>
 							</li>
 						<% end %>
 					<% end %>
 					
 				<% end %>
  			</ul>
 		</div>
 	</div>
 </div>