<%= form_for(document) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>
      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="header">
    <div class="doc-metadata">
      <div class="input-field doc-code">
        <i class="material-icons login-icons prefix">description</i>
        <%= f.label :documentCode, "Código de Documento"%>
        <%= f.text_field :documentCode %>
      </div>
      <div class="input-field data-field">
        <i class="material-icons login-icons prefix">date_range</i>
        <%= f.label :date, "Fecha"%>
        <%= f.text_field :date, class: "datepicker"%>
      </div>
    </div>
    <div class="contact-info">
      <div class="input-field contact-input">
        <i class="material-icons login-icons prefix">contact_mail</i>
        <%= f.label :sender_id,"Remitente"%><br>
        <%= f.select :sender_id, @usersSender.map{|u|[u.username,u.id]}
         %>
      </div>
      <div class="input-field department-input">
        <i class="material-icons login-icons prefix">business</i>
        <label for="departmentSender">Departamento</label>
        <br>
        <input id="departmentSender" type="text" class="validate" >
      </div>
    </div>
    <div class="contact-info">
      <div class="input-field contact-input">
        <i class="material-icons login-icons prefix">contact_mail</i>
        <%= f.label :receiver_id, "Destinatario" %>
        <br>
        <%= f.select :receiver_id, @usersReceiver.map{|u|[u.username,u.id]}, class: "receiver-select"
         %>
      </div>
      <div class="input-field department-input">
        <i class="material-icons login-icons prefix">business</i>
        <label for="departmentReceiver">Departamento</label><br>
        <%= select_tag "", options_for_select(@usersReceiver.map{|u|[u.departmentName,u.department_id]}), class: "receiver-select"
         %>
      </div>
    </div>
    <div class="contact-info">
      <div class="input-field contact-input">
        <i class="material-icons login-icons prefix">face</i>
        <%= f.label :creator_id, "Creador"%>
        <%= f.text_field :creator_id %>
      </div>
      <div class="input-field department-input">
        <i class="material-icons login-icons prefix">business</i>
        <input id="departmentCreator" type="text" class="validate">
        <label for="departmentCreator">Departamento</label>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="input-field">
      <i class="material-icons login-icons prefix">subject</i>
      <%= f.label :subject, "Asunto" %>
      <%= f.text_field :subject %>
    </div>
  </div>
  <div class="content-container">
    <div class="input-field content-wrapper">
      <i class="material-icons login-icons prefix">drafts</i>
      <%= f.label :content %>
      <%= f.text_area :content,class: "materialize-textarea document_content" %>
    </div>
    <div class="input-field">
      <i class="material-icons login-icons prefix">label</i>
      <%= f.label :tags %>
      <%= f.text_field :tags, class: "tag-input" %>
    </div>
    <div class="tag-elements">
    </div>
  </div>
  <div class="input-field">
    <%= f.label :isSenderPrivate %>
    <%= f.check_box :isSenderPrivate %>
  </div>
  <div class="input-field">
    <%= f.label :senderStatus_id %>
    <%= f.text_field :senderStatus_id %>
  </div>
  <div class="input-field">
    <%= f.label :isReceiverPrivate %>
    <%= f.check_box :isReceiverPrivate %>
  </div>
  <div class="input-field">
    <%= f.label :receiverStatus_id %>
    <%= f.text_field :receiverStatus_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  tagEvent();
</script>