<%= form_for(document) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>
      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="header">
    <div class="doc-metadata">
      <div class="input-field department-input">
        <i class="material-icons login-icons prefix">description</i>
        <%= f.label :documentCode, "Código de Documento"%>
        <%= f.text_field :documentCode, :required => true%>
      </div>
      <div class="input-field contact-input">
        <i class="material-icons login-icons prefix">date_range</i>
        <%= f.label :date, "Fecha"%>
        <%= f.text_field :date, class: "datepicker", :required => true%>
      </div>
    </div>
    <h6>Remitente</h6>
    <div class="contact-info">
      
      <div class="input-field department-input">
        <i class="material-icons login-icons prefix">business</i>
        <label for="departmentSender">Departamento</label>
        <br>
        <%= text_field_tag "", @currentUserDepartment.departmentName, :disabled => true%>
      </div>
      <div class="input-field contact-input">
        <i class="material-icons login-icons prefix">contact_mail</i>
        <%= f.label :sender_id,"Remitente"%><br>
        <%= f.select :sender_id, @usersSender.map{|u|[u.username+"-"+u.email,u.id]}
         %>
      </div>
    </div>
    <h6>Destinatario</h6>
    <div class="contact-info">
    <div class="input-field department-input">
        <i class="material-icons login-icons prefix">business</i>
        <label for="departmentReceiver">Departamento</label><br>
        <%= select_tag "", options_for_select(@departmentReceiver), class: "receiver-department-select", :onchange=>"onChangeReceiverDepartment($(this).val())"
         %>
      </div>
      <div class="input-field contact-input">
        <i class="material-icons login-icons prefix">contact_mail</i>
        <%= f.label :receiver_id, "Destinatario" %>
        <br>
        <%= f.select :receiver_id, @usersReceiver.map{|u| [u.username+"-"+u.email,u.id]}, {},{
        :class => "receiver-select", :disabled => true, :required => true}
         %>
      </div>
    </div>
    <h6>Creador</h6>
    <div class="contact-info">
    <div class="input-field department-input">
        <i class="material-icons login-icons prefix">business</i>
        <label for="departmentCreator">Departamento</label>
        <br>
        <%= text_field_tag "", @currentUserDepartment.departmentName, :disabled => true%>
      </div>
      <div class="input-field contact-input">
        <i class="material-icons login-icons prefix">face</i>
        <%= f.label :creator_id, "Creador"%>
        <br>
        <%= f.select :creator_id, [[current_user.username+"-"+current_user.email,current_user.id]],{},{}%>
      </div>
      
    </div>
  </div>
  <div class="header">
    <div class="input-field">
      <i class="material-icons login-icons prefix">subject</i>
      <%= f.label :subject, "Asunto" %>
      <%= f.text_field :subject, :required => true %>
    </div>
  </div>
  <div class="content-container">
    <div class="input-field content-wrapper">
      <i class="material-icons login-icons prefix">drafts</i>
      <%= f.label :content, "Contenido" %>
      <%= f.text_area :content,class: "materialize-textarea document_content", :required => true %>
    </div>
    <div class="file-field input-field">
      <div class="actions">
        <div class="waves-effect waves-light btn">
          <i class="material-icons">attach_file</i>
          <input type="file" multiple>
        </div>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <div class="tag-elements">
    </div>
  <div>
    <%= f.label "Tags" %><br/>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :tagName do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
  </div>
  <div>
    <%= f.label :isSenderPrivate, "Privado para remitente?" %>
    <%= f.select :isSenderPrivate, options_for_select([['No', false], ['Si', true]])%>
  </div>
  
  <div class="field">
    <%= f.label :senderStatus_id,"Estatus remitente" %>
    <%= f.collection_select :senderStatus_id, Status.where(department_id: @currentUserDepartment.id), :id, :description %>
  </div>
  <div>
    <%= f.label :isReceiverPrivate, "Privado para destinatario?" %>
    <%= f.select :isReceiverPrivate, options_for_select([['No', false], ['Si', true]])%>
  </div>
  
  <div class="field">
     <%= f.label :conversationI, "Conversacion" %>
    <%= f.collection_select :conversationId, Document.all, :id, :documentCode %>
  </div>
  <div>
    <%= f.label :pictures %>
    <%= f.file_field :picture, multiple: false, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
    
  </div>
  <div class="actions">
    <%= button_tag( :class => "waves-effect waves-light btn") do %>
      Enviar Documento <i class="material-icons right">send</i>
    <% end %>
  </div>
  </div>
<% end %>
<script type="text/javascript">
  tagEvent();  
</script>