<h1>Documents</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Documentcode</th>
      <th>Senderemail</th>
      <th>Receiver Email</th>
      <th>Creator Email</th>
      <th>Subject</th>
      <th>Date</th>
      <th>Content</th>
      <th>Tags</th>
      <th>Conversationid</th>
      <th>Senderstatus</th>
      <th>Receiverstatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <% bandera = false %>
      <% if document.isReceiverPrivate && current_user.email == document.receiver.email || !document.isReceiverPrivate && current_user.department_id == document.receiver.department_id %>
        <% bandera = true %>
      <% end %>
      <% if bandera || document.isSenderPrivate && current_user.email == document.sender.email || !document.isSenderPrivate && current_user.department_id == document.sender.department_id%>
        <tr>
          <td><%= document.id %>
          <td><%= document.documentCode %></td>
          <% if document.isSenderPrivate and current_user.email != document.sender.email%>
            <td>Private</td>
          <% else %>
            <td><%= document.sender.email %></td>
          <% end %>
          <% if document.isReceiverPrivate and current_user.email != document.receiver.email%>
            <td>Private</td>
          <% else %>
            <td><%= document.receiver.email %></td>
          <% end %>
          <td><%= document.creator.email %></td>
          <td><%= document.subject %></td>
          <td><%= document.date %></td>
          <td><%= document.content %></td>
          <td><%= document.tags %></td>
          <td><%= document.conversationId %></td>
          <td><%= document.senderStatus.description %></td>
          <td><%= document.receiverStatus.description %></td>
          <td><%= link_to 'Show', document %></td>
          <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="row">
  <%= grid(@documents_grid) do |g|
    g.column do |document|
      document.creator.email
    end
    g.column do |document|
      document.subject
    end
    g.column do |document|
      document.date
    end
    g.column do |document|
      document.content
    end
    g.column do |document|
      document.tags
    end
    g.column do |document|
      document.conversationId
    end
    g.column do |document|
      document.senderStatus.description
    end
    g.column do |document|
      document.receiverStatus.description
    end
  end -%>
</div>

<br>

<%= link_to 'New Document', new_document_path({:conversationId => getNextConvID()}) %>