<p id="notice"><%= notice %></p>

<p>
  <strong>Documentcode:</strong>
  <%= @document.documentCode %>
</p>

<p>
  <strong>Senderemail:</strong>
  <%= @document.sender.email %>
</p>

<p>
  <strong>Receiveremal:</strong>
  <%= @document.receiver.email %>
</p>

<p>
  <strong>Creatoremail:</strong>
  <%= @document.creator.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @document.subject %>
</p>

<p>
  <strong>Date:</strong>
  <%= @document.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @document.content %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @document.tags %>
</p>

<p>
  <strong>Conversationid:</strong>
  <%= @document.conversationId %>
</p>

<p>
  <strong>Issenderprivate:</strong>
  <%= @document.isSenderPrivate %>
</p>

<p>
  <strong>Senderstatus:</strong>
  <%= @document.senderStatus.description %>
</p>

<p>
  <strong>Isreceiverprivate:</strong>
  <%= @document.isReceiverPrivate %>
</p>

<p>
  <strong>Receiverstatus:</strong>
  <%= @document.receiverStatus.description %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
