<p id="notice"><%= notice %></p>

<div class="title-container">
  <%if current_user.isGeneralAdmin or current_user.isDepartmentAdmin %>
    <button class="botonCrear waves-effect waves-light btn"><%= link_to 'Nueva', new_tag_path %></button>
  <% end %>
  <h3>Tags</h3>

</div>
<div class="row">
  <div class="col s12 m8 tagsColumn">
    
      <% @tags.each do |tag| %>
      <div class="card tagsDetail">
        <p class="p">
        <%= tag.tagName %> <br>
        Departamento: <%= Department.find(tag.department_id).departmentName%> <br>
        </p>
        <button class="waves-effect waves-light btn btn-small positionRightDown"> <%= link_to 'Mostrar documentos con esta tag', tag %> </button>
        <!--<%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>-->
      </div>
      <% end %>
    
  </div>
</div>

<div class="row">
  <%= grid(@tags_grid) do |g|

  g.column do |tag|
    tag.tagName
  end

  g.column do |tag|
    tag.department_id
  end
end -%>
</div>



