<p id="notice"><%= notice %></p>

<p>
  <strong>Tagname:</strong>
  <%= @tag.tagName %>
</p>

<p>
  <strong>Department:</strong>
  <%= @tag.department_id %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
