<p id="notice"><%= notice %></p>
<div class="title-container">
  <h3>Documentos con tag: <strong><%= @tag.tagName %></strong>
   </h3>

</div>
<div class="row">
  <div class="col s12 m8 tagsColumn">
      <% Document.all.each do |document| %>
        <% a = document.tag_ids %>
        <% currentTag = @tag.id %>
        <% for item in a %>
          <% if currentTag == item %>
    
            <% bandera = false %>
      <% if document.isReceiverPrivate && current_user.email == document.receiver.email || !document.isReceiverPrivate && current_user.department_id == document.receiver.department_id %>
        <% bandera = true %>
      <% end %>
      <% if bandera || document.isSenderPrivate && current_user.email == document.sender.email || !document.isSenderPrivate && current_user.department_id == document.sender.department_id%>
        <div class="card tagsDetail">
          <p class="p">
          Asunto: <%= document.subject %><br>
          Emisor: <%= document.sender.email %><br>
          Receptor: <%= document.receiver.email %><br>
          Fecha: <%= document.date %><br>
          </p>
          <button class="waves-effect waves-light btn btn-small positionRightDown"> <%= link_to 'Detalle', document %> </button>
          
          <!--<%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %>-->
        </div>
            
          <% end %>
        <% end %>
    <% end %>
    <% end %>
    
  </div>

</div>


