<div class="login-container">
  <div class="login-header"> 
    <div class="login-title">Iniciar Sesión</div>
  </div>
  
  <div class="logo-container"> 
    <%= image_tag("logo.png",:class => "logo_login" )%>
  </div>

<% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>
<div class="form-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class="input-field col s3">
    <i class="material-icons login-icons prefix">account_circle</i>
    <%= f.email_field :email, autofocus: true, id: "user_email"%>
     <%= f.label :email, "Correo"%>
</div>
  <div class="input-field col s3">
   <i class="material-icons login-icons prefix">lock</i>
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.label :password, "Contraseña"%><br />
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Recordarme" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Ingresar" , class: "waves-effect waves-light btn"%>
  </div>
<% end %>
</div>
<div class="links-devise">
  <%= render "devise/shared/links" %>
</div>

</div>

