<!DOCTYPE html>
<html>
  <head>
    <title>DocumentManager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%== stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%== stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Mada'%>
    <%= include_gon %>
  </head>
  <body>

    <% if user_signed_in? %>
      <div class="page-container">
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">
              <div class="logo-container-nv">
                <%= image_tag("logo2.png",:class => "logo_navbar" )%>
              </div>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <% if current_user.isGeneralAdmin? %>
                <li><%= link_to "Dashboard", root_path %></li>
                <li><%= link_to "Departamentos", departments_path %></li>
                <li><%= link_to "Estados", statuses_path %></li>
                <li><%= link_to "Documentos", documents_path %></li>
                <li><%= link_to "Nuevo Documento", new_document_path %></li>
              <% elsif current_user.isDepartmentAdmin? %>
                <li><%= link_to "Dashboard", root_path %></li>
                <li><%= link_to "Departamentos", departments_path %></li>
                <li><%= link_to "Estados", statuses_path %></li>
                <li><%= link_to "Documentos", documents_path %></li>
                <li><%= link_to "Nuevo Documento", new_document_path %></li>
              <% else %>
                <li><%= link_to "Dashboard", root_path %></li>
                <li><%= link_to "Documentos", documents_path %></li>
                <li><%= link_to "Crear Documento", new_document_path %></li>
              <% end %>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </div>
        </nav>
      <% end %>
      <div class="page-wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>